h1, h2, h3, h4, h5, h6, label  {
	font-family: 'Roboto Condensed', 'Helvetica Neue','Helvetica', sans-serif;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 2.3em;
}

h4 {
	font-size: 2em;
}

h5 {
	font-size: 1.5em;
}

h6 {
	font-size: 1.3em;
}


table th {
	background: #26A65B;
	color: #fff !important;
}

.container {
	background: #fff;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

a {
	color: #26A65B;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

a:hover {
	color: #1E824C;
}

.navbar, .navbar a{
	background: #26A65B;
	font-family: 'Roboto Condensed', 'Helvetica Neue','Helvetica', sans-serif;
	font-size: 16px;
	color: #fff !important;
}
	
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active, .navbar li:hover {
	background: #1E824C !important;
}

.navbar-default .navbar-toggle {
	background: #1E824C;
	border: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background: #87D37C;
}

.navbar-default .navbar-toggle .icon-bar{
	background: #26A65B;	
}

.button {
	background: #0B486B;
}

.button:hover {
	background:#002a4a;
}

.form-container {
	background: #fff;
}
.error{
	color:red;
	font-size:13px;
}
