body {
	background: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.login-title {
	text-align:center;
	margin-top:5%;
}

.logo-container {
	text-align:center;
}
.logo {
	max-width: 60px;
}
.login-container {

	background: rgba(236, 240, 241,1);
	margin: 20px auto;
	padding: 20px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}

/*.login-container h4 {
	color: #fff;
}

.login-container button {
	background: #26A65B;
}
.login-container h3, input[type="text"] {

}*/